.layout {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  gap: 10rem
}

.container {
    width: 18rem;
    height: auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 1rem;
    z-index: 0;
    overflow: hidden;
  }

  .leaderboard {
    background: linear-gradient(to bottom, #3a404d, #181c26);
  }

  .leaderboard .head {
    padding: 20px 16px;
    color: snow;
    font-size: 20px;
    text-align: center;
  }
  .leaderboard .head h1 {
    display: inline-block;
    margin-left: 4px;
  }

  .leaderboard .body {
    color: snow;
    font-size: 16px;
  }
  .leaderboard ol {
    counter-reset: number;
  }
  .leaderboard li {
    padding: 16px;
    display: flex;
  }
  .leaderboard li mark {
    flex-grow: 1;
    color: snow;
    background-color: transparent;
  }
  .leaderboard li:before {
    counter-increment: number;
    content: counter(number) ".";
    margin-right: 4px;
  }
  .leaderboard li:nth-child(1) {
    background: #fa6855;
  }
  .leaderboard li:nth-child(2) {
    background: #e0574f;
  }
  .leaderboard li:nth-child(3) {
    background: #d7514d;
  }
  .leaderboard li:nth-child(4) {
    background: #cd4b4b;
  }
  .leaderboard li:nth-child(5) {
    background: #c24448;
  }

  @media only screen and (max-width: 768px) {
    .layout {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 0;
    }
    .container {
      width: auto;
    }
  }
