.page-container {
  width: 95%;
  margin-right: auto;
  margin-left: auto;

  .user-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 4rem;

    .user-block {
      display: flex;
      flex-direction: row;
      margin-right: auto;

        .user-info {
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: stretch;
          padding: 0.625rem;
        }

        .user-image {
          height: 5rem;
          width: 4rem;
          background-color: transparent;
          border: 0.2rem black;
          margin-right: 1rem;
        }
    }

    .user-record {
      margin-left: auto
    }
  }

    .user-resource {
      flex-direction: column;
      margin-right: 2rem;
    }
}

@media only screen and (max-width: 768px) {
  .user-container {
    flex-direction: column;
  }
}
